.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-background {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    padding: 2rem 2rem;
    background-color: #343442;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.footer-item {
    color: white;
}

.footer-item h6 {
    font-size: 1rem;
}

.footer-item p {
    font-size: 0.8rem;
}

.footer-text {
    padding-top: 0.7rem;
}

.footer-item a {
    text-decoration: none;
    color: white;
}

.copyright-line {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    margin-top: 1rem;
}

.copyright-text {
    font-size: 0.7rem;
    padding-top: 1rem;
    color: white;
}
