.about-title {
    display: flex;
    margin: 6rem auto 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about-container img {
    width: 90%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-top: 2rem;
    border-radius: 1rem;
}

.about-container p {
    width: 90%;
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.text-above {
    margin-top: 1rem;
}

.text-below {
    margin-bottom: 5rem;
}
