.event-title {
    display: flex;
    flex-direction: column;
    margin: 6rem auto 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.event-title h1 {
    line-height: 3rem;
}

.event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.event-background {
    width: 16rem;
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(24px);
    box-shadow: 
    0 20px 50px rgba(0, 0, 0, 0.1), 
    inset 0 0 15px rgba(255, 255, 255, 0.5);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.event-items {
    text-align: justify;
    text-justify: inter-character;
    hyphens: auto;
}
