@media (min-width: 570px) {
    body {
        overflow-x: hidden;
    }

    header, nav {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .hamburger-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
        flex-direction: row;
        font-size: small;
        color: rgb(230, 230, 230);
        cursor: pointer;
    }

    .desktop-menu li:hover {
        color: white;
        transition: 0.7s ease-out;
    }

    .head {
        display: flex;
        justify-content: space-between;
        padding: 1.2rem 2rem;
        box-sizing: border-box;
        align-items: center;
    }

    .directory-container {
        display: grid;
        column-gap: 3rem;
        grid-template-columns: repeat(2, minmax(16rem, 1fr));
        width: 100%;
        max-width: 16rem;
        margin: 2rem auto 5rem auto;
        justify-content: center;
        align-items: center;
    }

    .event-container {
        display: grid;
        column-gap: 3rem;
        grid-template-columns: repeat(2, minmax(16rem, 1fr));
        width: 100%;
        max-width: 16rem;
        margin: 2rem auto 5rem auto;
    }

    .about-container img {
        height: 50vh;
    }

    input {
        width: 97.5%;
    }

    .newsletter-background {
        width: 50%;
    }

    @media (min-width: 600px) {
        .head {
            padding: 1.2rem 2rem;
        }

        .about-container img {
            height: 60vh;
        }
    }

    @media (min-width: 885px) {
        .head {
            padding: 1.2rem 3rem;
        }
        
        .information-background {
            flex-direction: row;
            padding: 0 2rem 0 2rem;
            justify-content: space-between;
        }

        .information-items h4 {
            font-size: 1.4rem;
        }

        .information-items p {
            font-size: 1.1rem;
        }

        .directory-container {
            grid-template-columns: repeat(3, minmax(16rem, 1fr));
        }

        .directory-background {
            transform: scaleY(1);
            transform-origin: center;
            transition: transform 0.3s ease-out;
            cursor: pointer;
        }

        .directory-background:hover {
            transform: scaleY(1.08);
        }

        .event-background {
            transform: scaleY(1);
            transform-origin: center;
            transition: transform 0.3s ease-out;
            cursor: pointer;
        }

        .event-background:hover {
            transform: scaleY(1.08);
        }

        .event-container {
            grid-template-columns: repeat(3, minmax(16rem, 1fr));
        }

        .footer-background {
            flex-direction: column;
            padding: 4rem 4rem;
            height: auto;
        }

        .footer-container {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }

        .footer-item h6 {
            font-size: large;
        }

        .footer-item p {
            font-size: 1rem;
        }

        .copyright-text {
            font-size: small;
        }
    }

    @media (min-width: 1200px) {
        .directory-container {
            grid-template-columns: repeat(4, minmax(16rem, 1fr));
        }

        .event-container {
            grid-template-columns: repeat(4, minmax(16rem, 1fr));
        }

        .information-background {
            padding: 0 5rem 0 5rem;
        }

        .radio-items .option-button {
            color: black;
        }

        .about-container {
            flex-direction: row;
        }

        .text-about {
            width: 50rem;
            margin-top: 1.3rem;
        }

        .about-container img {
            height: 70vh;
            width: 30rem;
            margin-left: 5rem;
            margin-bottom: 4rem;
        }
    }
}
